#ocean{
    background-image: url('img/ocean.jpg');
    width: 900px;
    height: 700px;
    background-size: cover;
}
.player{
    position: absolute;
    width: 70px;
    height: 75px;
    background-image: url('img/player.png');
}
.enemy{
    position: absolute;
    width: 70px;
    height: 75px;
    background-image: url('img/enemy.png');
    left: 300px;
    top: 300;
}   
.missile{
    position: absolute;
    background-color: red;
    width: 2px;
    height: 10px;
}
#score{
    background-color: rgba(255, 0, 0, 0.445);
    color: white;
}